
/**
 * Normalize
 */
@import "normalize";
@import "mixins";

/**
 * Typography
 */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}


$typo-display-4-font-size-base: 11.2rem;
$typo-display-3-font-size-base: 5.6rem;
$typo-display-2-font-size-base: 4.5rem;
$typo-display-1-font-size-base: 3.4rem;
$typo-headline-font-size-base:  2.4rem;
$typo-title-font-size-base:     2.0rem;
$typo-subhead-font-size-base:   1.6rem;

$typo-body-font-size-base:      1.4rem;
$typo-caption-font-size-base:   1.2rem;


$base-font-size: 10px;
$typo-font-Family: 'Roboto', sans-serif;

/**
 * Variables
 */
$blue-dark: #1b325f;
$black-012: rgba(0, 0, 0, 0.12);
$black-026: rgba(0, 0, 0, 0.26);
$black-054: rgba(0, 0, 0, 0.54);

$wrapper-medium: 750px;
$wrapper-large: 970px;
$wrapper-xlarge: 1170px;

$tabs-transition-duration: 0.25s;
$tabs-transition-delay: 0.075s;
$tabs-transition-function: cubic-bezier(0.35, 0, 0.25, 1);

$navigation-width: 240px;

/*
font-size-> https://material.google.com/style/typography.html#typography-typeface
line-height -> https://material.google.com/style/typography.html#typography-styles
letter-spacing -> https://material.google.com/style/typography.html#typography-line-height
opacity -> https://material.google.com/style/typography.html#typography-line-height
*/

@mixin typo-display-3 {
  font-family: $typo-font-Family;
  font-size: $typo-display-3-font-size-base;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.005em;
  opacity: 0.54;
}

@mixin typo-display-2 {
  font-family: $typo-font-Family;
  font-size: $typo-display-2-font-size-base;
  font-weight: 400;
  line-height: 48px;
  opacity: 0.54;
}

@mixin typo-display-1 {
  font-family: $typo-font-Family;
  font-size: $typo-display-1-font-size-base;
  font-weight: 400;
  line-height: 40px;
  opacity: 0.54;
}

@mixin typo-headline {
  font-family: $typo-font-Family;
  font-size: $typo-headline-font-size-base;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.87;
}

@mixin typo-title {
  font-family: $typo-font-Family;
  font-size: $typo-title-font-size-base;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.87;
}

@mixin typo-subhead {
  font-family: $typo-font-Family;
  font-size: $typo-subhead-font-size-base;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

/**
 * Scaffolding
 */

// Reset the box-sizing
//
// Credit: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  // Sets a specific default `font-size` for user with `rem` type scales.
  // font-size: $font-size-root;
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // http://phonegap-tips.com/articles/essential-phonegap-css-webkit-touch-callout.html
  -webkit-touch-callout: none;

  // Fonts on OSX will look more consistent with other systems that do not
  // https://bugzilla.mozilla.org/show_bug.cgi?id=857142
  -webkit-font-smoothing: antialiased; // http://maxvoltar.com/archive/-webkit-font-smoothing/
  // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -moz-osx-font-smoothing: grayscale;  // http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  font-size: $base-font-size;
}

body {
  font-family: $typo-font-Family;
  font-size: $base-font-size;
  line-height: 1em;
  background: #f9f9f9;
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding-top: 56px;

  @include medium {
    padding-top: 64px;
  }

}

main {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: 13px;

  @include medium {
    /**
     * Cards have a margin of 8px => left = 40px and top = 20px
     */
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: $wrapper-medium;
    margin-left: auto;
    margin-right: auto;
  }

  @include large {
    width: $wrapper-large;
  }

  @include xlarge {
    padding-left: $navigation-width;
    width: $wrapper-xlarge;
  }
}

h1 {
  @include typo-display-3;

  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
  @include typo-display-2;

  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  @include typo-display-1;

  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  @include typo-headline;

  margin-top: 24px;
  margin-bottom: 16px;
}

h5 {
  @include typo-title;

  margin-top: 24px;
  margin-bottom: 16px;
}

h6 {
  @include typo-subhead;

  margin-top: 24px;
  margin-bottom: 16px;
}
